/* COMMON */

body{
    font-family: 'Nanum Gothic', sans-serif;
    height: 5000px;

    background-color: #fff;
  }

/* HEADER */

.header{
    width: 100%;
    height: 120px;
    background-color: #00509293;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 900;
}

.header .title{
    font-size: 50px;
    font-weight: 900;

    color: #fff;

    position: relative;
    left: 72%;
    top: 40%;
}

/* MAIN-BLOCK */

.main-block{
    position: relative;

    width: 70%;
    height: 100%;

    margin: 120px auto 0 auto;
}

/* CALCULATOR */

.main-block .calcul{
    width: 100px;
    height: 100px;

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1zcwWi3Eg_bsH1vNjmrMqpKbjYuK4SyKqsg&usqp=CAU");
    background-size: cover;

    border-radius: 10px;

    position: absolute;
    
    top: 20px;
    left: 100px;
}